.vscode
results/*
docs/build
build
secrets

*checkpoint*
*.csv
*.xlsx
*.jld2
*.jld

!examples/data/*.csv
!docs/example_data/*.csv
!test/test_results/*
!test/test_data/*

coverage/*
*.cov
*.info
.DS_Store
*.png
*.svg

*.gpslc